{%extends 'base_templates/base_without_navbar.html'%}
{%block content%}
<form method="post" class="alert alert-danger">{% csrf_token %}
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Confirmation!</h4>
    <p>Are you sure you want to delete?</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{object.trans_id}}</li>
      <li class="list-group-item">{{object.customer.name}}/{{object.customer.father_or_husband_name}}</li>
      {%if object.credit%}
      <li class="list-group-item" style="color:green">{{object.amount}}</li>
      {%else%}
      <li class="list-group-item" style="color:red">{{object.amount}}</li>
      {%endif%}
    </ul>
    <hr>
    <input class="btn btn-danger" type="submit" value="Confirm">
  </div>
</form>
{%endblock%}
