{%extends 'base_templates/base.html'%}
{%block title%}
  Dashboard
{%endblock%}
{%block content%}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="card bg-danger mb-3" style="max-width: 18rem;">
                  <div class="card-body text-center">
                    <a href="{%url 'cust:view'%}" class="text-white ">
                      <h5 class="card-title"><i class="fa fa-group" style="font-size:24px"></i></h5>
                      <p class="card-text">customer</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card  bg-danger mb-3" style="max-width: 18rem;">
                  <div class="card-body text-center">
                    <a href="{%url 'item:view'%}" class="text-white">
                      <h5 class="card-title"><i class="fa fa-list-alt" style="font-size:24px"></i></h5>
                      <p class="card-text">item</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="card bg-primary mb-3" style="max-width: 18rem;">
                  <div class="card-body text-center">
                    <a href="{%url 'item:new_bill'%}" class=" text-white">
                      <h5 class="card-title"><i class="fa fa-file-text" style="font-size:24px"></i></h5>
                      <p class="card-text">Bill</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card  bg-primary mb-3" style="max-width: 18rem;">
                  <div class="card-body text-center">
                    <a href="{%url 'payment:pay'%}" class="text-white">
                      <h5 class="card-title"><i class="fa fa-rupee" style="font-size:24px"></i></h5>
                      <p class="card-text">Payment</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="card  bg-info mb-3" style="max-width: 18rem;">
                  <div class="card-header mb-3">
                    <div class="text-white text-center">
                      <h5 class="card-title"><i class="fa fa-strikethrough" style="font-size:24px"></i></h5>
                      <p class="card-text">Shortcuts</p>
                    </div>
                  </div>
                  <ul class="list-group pl-2 pb-3" style="list-style: none;">
                    <li><a href="#" class="text-white">Add Weekly Payment</a></li>
                    <li><a href="#" class="text-white">Add New Stock</a></li>
                    <li><a href="#" class="text-white">--------</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card  bg-info mb-3" style="max-width: 18rem;">
                  <div class="card-header mb-3">
                    <div class="text-white text-center">
                      <h5 class="card-title"><i class="fa fa-paperclip" style="font-size:24px"></i></h5>
                      <p class="card-text">Report</p>
                    </div>
                  </div>
                  <ul class="list-group pl-2 pb-3" style="list-style: none;">
                    <li><a href="{%url 'item:view_bill'%}" class="text-white">Stock Report</a></li>
                    <li><a href="{%url 'payment:view'%}" class="text-white">Payment Report</a></li>
                    <li><a href="{%url 'report:report'%}" class="text-white">Customer Ledger</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Customer no</span>
                  </div>
                  <input type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="balance_account">
                </div>
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"  id="amount_output">Amount</span>
                  </div>
                  <input type="text" class="form-control" id="balance_output" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Enter Customer account no above to know balance" disabled>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12 text-center"><h5><b>Stock</b></h5></div>
            </div>
              <ul class="list-group">
                {% for item in object_list %}
                  <li class="list-group-item d-flex justify-content-between align-items-center" style="padding:.55rem">
                    {{item.item.name}}
                    <span class="badge badge-primary badge-pill">{{item.quantity_left}}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
{%endblock%}
{% block script%}
  <script type="text/javascript">
    var input = document.getElementById('balance_account');
    input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        var id = input.value;
        $.ajax({
            url: "{%url 'payment:apibalance'%}",
            data: {'id':id},
            datatype: 'json',
            success: function(data){
              var model = JSON.parse(data);
              console.log(model.responce);
              if (model.responce) {
                $('#amount_output').html(model.amount);
                document.getElementById('balance_output').placeholder = model.name
              }
              else {
                $('#amount_output').html("Error");
                document.getElementById('balance_output').placeholder = model.data
              }
            }
        });
      }
    });
  </script>
{%endblock%}
