{% load static %}
<script src="{%static 'vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<h3>Add item</h3>
<form enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  <div class="input-group">
    {{ form.form }}
      <button onclick="openwindow(0,0)">add item</button>
    <span>
      <button type="submit">submit</button>
    </span>
  </div>
</form>
<div id="data">
    <table>
      {%for item in items %}
      <tr>
        <td>{{item.item}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price}}</td>
        <td><button onclick="openwindow(1,{{item.pk}})" id="{{item.pk}}-update" data-url="{%url 'item:edittempitem' item.pk %}">update</button></td>
        <td><button onclick="openwindow(2,{{item.pk}})" id="{{item.pk}}-delete" data-url="{%url 'item:deletetempitem' item.pk %}">delete</button></td>
      </tr>
        {%endfor%}
    </table>
  <br>
</div>
<script type="text/javascript">
  function openwindow(i,id){
    var url;
    if (i==0) {
      url = "{%url 'item:addtempitem'%}";
    }
    else if (i==1) {
      var opt = document.getElementById(id+'-update');
      url = opt.dataset.url;
    }
    else {
      var opt = document.getElementById(id+'-delete');
      url = opt.dataset.url;
    }
    newwindow = window.open(url,"Form","width=500,height=500,left=400,top=400");
    newwindow.loadData()
  }
  function loadData(){
    $.ajax(
      {
        type:"GET",
        url:"{%url 'item:list'%}",
        success:function(data){
          var model = JSON.parse(data);
          var syntex = "<table>"
          for (var bit in model) {
            syntex += '<tr><td>'+String(model[bit].fields.item)+'</td><td>'+String(model[bit].fields.quantity)+'</td><td>'+String(model[bit].fields.price)+'</td><td><button href=\'#\' onclick="openwindow(1,'+String(model[bit].pk)+')" id="'+String(model[bit].pk)+'-update" data-url="/item/tempitemupdate/'+String(model[bit].pk)+'">update</button></td><td><button href=\'#\' onclick="openwindow(2,'+String(model[bit].pk)+')" id="'+String(model[bit].pk)+'-delete" data-url="/item/tempitemdelete/'+String(model[bit].pk)+'"%}">delete</button></td></tr>';
          }
          syntex += "</table>";
          $('#data').html("");
          $('#data').html(syntex);
        }
      }
    )
  }
</script>
